.footer-p {
    margin: 0;
    padding: 5px;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.footer-icon {
    margin-left: 10px;
    height: 16px;
}

